:root{
    --mainGreen:#71A894;
    --textBlack:#303031;
    --Light-Gold: #F3F0EA;
    --Green: #71A894


       
    --mainWhite:#ffff;
    --bodyBackgroundColor:#F9F9F9;

    --gray10:#66645E;
    --gray20:#66645E;

    --fontMain:"Roboto",sans-serif;
    --fontOpensans:"Open Sans", sans-serif;

}